/************ Custom Font ************/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/************ Default Css ************/

:root {
  /*Base colors*/
  --white-color: #fff;
  --black-color: #000;

  /*Component colors*/
  --main-bg-color: rgb(245, 245, 247);
  --secondary-bg-color: #000;
  --white-bg-color: #fff;
  --navbar-color: rgba(22, 22, 23, .8);
  

  /*Font colors*/
  --message-success-color: #008000;
  --message-alert-color: #ffff00;
  --banner-font-color: #fbfbfd;
  --white-font-color: #fbfbfb;
  --black-font-color: #1d1d1f;
  --link-font-color: #06c;

  /*Font sizes*/
  --banner-font-size: 70px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  overflow-x: hidden;
  position: relative;
  background-color: var(--white-bg-color) !important;
  color: var(--white-color);
  font-family: 'Roboto', sans-serif !important;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

@media (min-width: 1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}

p.success {
  margin-top: 10px;
  color: var(--message-success-color)
}

p.danger {
  margin-top: 10px;
  color: var(--message-alert-color)
}

/************ Navbar Css ************/
nav.navbar {
  backdrop-filter: blur(20px);
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32s ease-in-out;
  background-color: var(--navbar-color);

}


nav.navbar.scrolled {
  padding: 0px 0;
  background-color: var(--navbar-color);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
}

nav.navbar a.navbar-brand {
  width: 10%;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 300;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 15px;
  opacity: 0.75;
  text-wrap: nowrap;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
}

span.navbar-text {
  display: flex;
  align-items: center;
}

.social-icon {
  display: flex;
  margin-left: 14px;
  flex-direction: row;
}

.social-icon a {
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
  
}

.social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.social-icon a:hover::before {
  transform: scale(1);
}

.social-icon a img {
  width: 40%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.social-icon a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}

.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 25px;
  font-size: 18px;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}

.navbar-text button span {
  z-index: 1;
}

.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.navbar-text button:hover {
  color: #121212;
}

.navbar-text button:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}

nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}

nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 2px solid #fff;
}

nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: #fff;
  top: 0;
  left: 0;
  content: '';
  z-index: 2;
  transition: all 300ms linear;
}

nav.navbar .navbar-toggler-icon:after {
  top: 8px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  background-color: #fff;
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
  background-color: #fff;
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}

@media (max-width: 992px) {
  .navbar-collapse .navbar-text{
    display: flex;
    margin-top: 15px;
    justify-content: space-around;
  }
  
  .navbar-collapse .navbar-text button{
    font-weight: 700;
    border: 1px solid #fff;
    padding: 10px 18px;
    font-size: .8em;
    margin-left: 18px;
    position: relative;
    background-color: transparent;
    transition: 0.3s ease-in-out;
  }
  
  .navbar-collapse .navbar-nav .navbar-link {
    font-weight: 400;
    color: #fff !important;
    margin: 15px 15px;
    font-size: .8em;
    opacity: 0.75;
    margin-bottom: 5px;
  }
  
  .navbar-collapse .social-icon a{
    width: 36px;
    height: 36px;
  }

  .navbar-collapse .social-icon a::before {
    width: 36px;
    height: 36px;
  }
  
  nav.navbar a.navbar-brand {
    width: 15%;
  }
  

}


/************ Banner Css ************/

.banner-container {
  height: 100%;
  
}

.banner {
  margin-top: 0;
  padding: 200px 0 100px 0;
  background-color: var(--main-bg-color);
  width: 100%;
  height: 100vh;
  position: relative;
}

.banner h1 {
  font-size: var(--banner-font-size);
  font-weight: 400;
  color: var(--banner-font-color);
  letter-spacing: 0.8px;
  min-height: 300px;
  line-height: 1.3;
  translate: 0 100px;
  display: block;
  width: 100%;
  color: var(--black-font-color);
}

.banner .video-container {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  /* Define a largura desejada para a div */
  max-height: 86vh;
  /* Define a altura máxima desejada para a div */
  overflow: hidden;
  /* Oculta qualquer conteúdo que exceda a altura máxima */
  z-index: -1;
}

.banner button {
  color: var(--black-font-color);
  font-weight: 400;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}

.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}

.banner button:hover svg {
  margin-left: 25px;
}

.side-image-container img {
  position: relative;
  bottom: 11.6%;
  width: auto;
  height: 700px;
  transform: translate(0px, 120px);

}

@keyframes itemUpDownAnimation {
  0% {
    transform: translateY(0);
    /* Comece na posição original */
  }

  30% {
    transform: translateY(-210px);
    /* Suba 5 pixels */
  }

  60% {
    transform: translateY(-210px);
    /* Suba 5 pixels */
  }

  100% {
    transform: translateY(0);
    /* Volte para a posição original */
  }
}


.download-cv {
  text-decoration: none;
  cursor: auto;
}

@media (max-width: 1200px) {
  .download-link-col {
    width: 45% !important;
  }

  .download-link-row {
    gap: 20px;
    align-items: center;
  }

}

@media (max-width: 992px) {

  .banner {
    padding: 12vh 0 100px;
  }

  .banner-container {
    height: 102%;
  }

  .banner img {
    display: none;
  }

  .side-image-container {
    position: absolute;
  }

  .banner .video-container {
    max-height: 77vh;

  }


  .banner h1 {
    font-size: 35px;
  }

  .banner p {
    font-size: 15px;
  }

  .banner h1 {
    min-height: 180px;
  }

  .banner .tagline {
    font-size: 12px;
  }
}

.txt-rotate>.wrap {
  border-right: 0.08em solid #666;
}

/************ Projects Css ************/

.projects {
  margin-bottom: 50px;
  position: relative;
  background-color: var(--white-bg-color);
  align-items: center;
}

.projects h2 {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  margin-top: 2rem;
}

.projects .nav-pills {
  background-color: transparent;
  border: none;
  justify-content: space-around;
  gap: .5rem;
  color: #121212;
}


.projects .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: var(--secondary-bg-color) !important;
  color: var(--white-color) !important;
}

.projects .nav-pills .nav-link {
  color: var(--black-font-color) !important;
}

.projects .nav-link:hover {
  background-color: #d1d1d1;
  color: #ffffff;
}


.projects .nav-link {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  border-radius: 2.5rem;
  padding: 10px 20px;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, .30);
  transition: all .3s cubic-bezier(0, 0, .5, 1);
  margin-top: -2rem;
  gap: 1rem;
}

.project-card {
  background-color: var(--main-bg-color);
  display: flex;
  align-items: center;
  height: 50vh;
}

.project-card-container {
  width: 100%;
  overflow: hidden;
}

.project-img-container{
  padding-top: 20px;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
}

.project-img-container img{
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.project-card-info {
  width: 100%;
  padding: 20px;
  z-index: 1;
  margin-bottom: 0px !important;
  padding-bottom: 0 !important;
  flex-direction: column;
  justify-content: space-between;
}

.project-title h4 {
  color: var(--black-color);
  font-size: 2em;
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  min-height: calc(2 * 1em);
  line-height: 1em;
}

.project-description p {
  color: var(--black-font-color);
  font-size: 1em;
  text-align: center;
  opacity: 0.80;
  font-weight: 400;
}

.project-techs p {
  color: var(--black-color);
  font-weight: 700;
  font-size: 1.2em;
  margin-bottom: 0px !important;
}

.projects-buttons {
  padding: 15px 15px 0 15px;
}

.projects button {
  width: 100%;
  font-weight: 400;
  letter-spacing: 0.8px;
  padding: 6px 5px;
  color: #fff;
  background: #121212;
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: .7em;
  /* Alterado para 2% da largura da tela */
  margin-bottom: 10px;
  display: inline-block;
}

.projects button:hover {
  color: #121212;
  background: #fff;
  border: 1px solid #121212;
}
@media (max-width: 992px) {
  .project-title h4 {
    font-size: 1.1em;
    margin-bottom: 1rem;
  }

  .project-description p {
    color: #767676;
    font-size: .9em;

  }

  .project-techs p {
    font-weight: 700;
    font-size: .7rem;


  }

  .projects button {
    font-size: .7em;
    margin: 0px;

  }
}


/************ Skills Css ************/

.skills {
  background-color: var(--main-bg-color);
  padding-top: 20px;
  padding-bottom: 55px;
  position: relative;
  margin-top: 25px;
}

.skills h2 {
  font-size: 30px;
  font-weight: 400;
  color: #fff;
}

.skills h4 {
  color: #fff;
  margin-top: 10px;
  text-align: center;
}

.skills-box {
  background-color: var(--secondary-bg-color);
  border-radius: 2.5rem;
  padding: 30px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, .08);
  transition: all .3s cubic-bezier(0, 0, .5, 1);
  margin-top: 2rem;
}



.skills p {
  color: #fff;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px 0 40px 0;
}

.skill-language-icon {
  width: 50px;
  height: auto;
  margin: 10px 20px 10px 10px;
}

.progress {
  width: 200px;
}

.react-multi-carousel-list {
  height: 27rem;
  margin: 0 auto;
  position: relative;
}

.react-multi-carousel-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-multi-carousel-dot--active button {
  background-color: #fff !important;
}

.react-multiple-carousel__arrow--right,
.react-multiple-carousel__arrow--left {
  transform: translateY(-25px);
}

.skills-list {
  list-style: none;
}

.skill-item{
  color: #fff;
}

@media (max-width: 992px) {
  .react-multi-carousel-list {
    height: 18rem;
  }
}

/************ About Css ************/

.about {
  background-color: var(--main-bg-color);
  margin-top: 25px;
  padding: 0 0 50px 0;
  position: relative;
}

.about h4 {
  margin-top: 10px;
}

.about-box {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  background-color: var(--main-bg-color);
  padding: 30px;
  transition: all .3s cubic-bezier(0, 0, .5, 1);
  margin-top: 2rem;

}

.about h2 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 2rem;
}

.about p {
  color: #000;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7em;
  margin: 14px 0 40px 0;
  text-align: justify;
}

.about__container {
  display: grid;
  grid-template-columns: 30% 60%;
  gap: 10%;
}

.about__me-image {

  border-radius: 2.5rem;
  overflow: hidden;
}

/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========== */
@media screen and (max-width: 1024px) {
  .about__container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .about__me {
    width: 100%;
    margin: 0 auto 3rem;
    display: flex;
    justify-content: center;
  }

  .about__me-image {
    width: 26vw;
    height: auto;

  }

  .about__content p {
    margin: 1rem 0 1.5rem;
  }

}

/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */
@media screen and (max-width: 600px) {
  .about__me {
    width: 65%;
    margin: 0 auto 3rem;
  }

  .about__cards {
    grid-template-columns: 1fr 1fr;
  }

  .about__content {
    text-align: center;
  }

  .about__content p {
    margin: 1.5rem 0;
  }

  .about__me-image {
    width: 59vw;

  }

  .about__card {
    padding: 1rem;
  }


}

/************ Contact Css ************/
.contact {
  padding: 60px 0 100px 0;
  background-color: var(--secondary-bg-color);
}

.contact img {
  width: 92%;
}

.contact h2 {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 30px;
  color: var(--white-font-color);
}

.contact form input,
.contact form textarea {
  width: 100%;
  background: rgba(252, 248, 248, 0.1);
  border: 1px solid rgba(252, 248, 248, 0.1);
  color: #fff;
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
  resize: none;
}

.contact form input:focus,
.contact form textarea:focus {
  background: rgb(57, 57, 57);
  color: var(--main-bg-color);
  
}

.contact form input::placeholder,
.contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.contact form input:focus::placeholder,
.contact form textarea:focus::placeholder {
  color: var(--main-bg-color);
  opacity: 0.8;
}

.contact form button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}

.contact form button span {
  z-index: 1;
  position: relative;
}

.contact form button:hover {
  color: #000;
}

.contact form button::before {
  content: "";
  background: #fff;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}

.contact form button:hover::before {
  width: 100%;
}



/************ Footer Css ************/

.footer-logo {
  width: 20%;
  height: auto;
}

.footer {
  padding: 0 0 10px 0;
  background-color: var(--navbar-color);
  margin-top: 4vh;
}


.footer p {
  font-weight: 400;
  font-size: 14px;
  color: var(--black-font-color);
  letter-spacing: 0.5px;
  margin-top: 20px;
}

.footer .social-icon {
  margin-top: 30px;
  display: inline-block;
}

@media (max-width: 992px) {
  .footer-logo-col {
    margin-top: 20px !important;
  }
}